<!-- Form Holiday -->
<h2 class="pb-3">ایجاد تعطیلات</h2>
<form [formGroup]="holidayForm" (ngSubmit)="postHoliday()">
  <label for="name" class="pb-2">نام :</label>
  <input
    type="text"
    id="name"
    formControlName="name"
    aria-label="default input example"
    cFormControl
  />
  <p *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
    <span *ngIf="name.hasError('required')">Name is required</span>
    <span *ngIf="name.hasError('minlength')"
      >Name must be at least 3 characters long</span
    >
  </p>

  <label for="date" class="pb-2">تاریخ :</label>
  <input
    type="date"
    id="date"
    formControlName="date"
    aria-label="default input example"
    cFormControl
  />
  <p *ngIf="date.invalid && (date.dirty || date.touched)" class="text-danger">
    <span *ngIf="date.hasError('required')">Date is required</span>
  </p>
  <br />
  <button type="submit" cButton color="dark" [disabled]="holidayForm.invalid">
    ایجاد
  </button>
</form>
<hr />
<!-- Table Holiday -->
<h2 class="pb-3">لیست تعطیلات</h2>
<div class="d-flex flex-row">
  <div class="d-flex flex-column">
    <p>تاریخ شروع :</p>
    <input cFormControl placeholder="Default input" type="date" [(ngModel)]="startDate" (change)="getHolidays()"/>
  </div>
  <div class="d-flex flex-column">
    <p>تاریخ پایان :</p>
    <input cFormControl placeholder="Default input" type="date" [(ngModel)]="endDate" (change)="getHolidays()"/>
  </div>
</div>

<!-- <mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
<div class="row">
  <div class="col-xs-12 col-12 col-sm-3 col-md-3 col-lg-2 form-group mb-3">
    <select
      class="custom-select form-control from-select"
      [(ngModel)]="locale" (ngModelChange)="applyLocale(dp);">
      <option *ngFor="let loc of locales" [value]="loc">{{ loc }}</option>
    </select>
  </div>
  <div class="col-xs-12 col-12 col-sm-5 col-md-6 col-lg-4 form-group mb-3">
    <input placeholder="Datepicker" type="text" class="form-control" bsDatepicker #dp="bsDatepicker">
  </div>
  <div class="col-xs-12 col-12 col-sm-4 col-md-12 col-lg-4 form-group mb-3">
    <button class="btn btn-success" (click)="dp.show()" [attr.aria-expanded]="dp.isOpen" type="button">Date Picker</button>
  </div>
</div>
<br>
 



<br />
<table cTable>
  <thead cTableColor="dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">نام</th>
      <th scope="col">تاریخ</th>
      <th scope="col">تغییر</th>
      <th scope="col">حذف</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let day of holidays; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <!-- <ng-container *ngIf="!isEditingArray[i]; else editMode">{{ day.name }}</ng-container>
        <ng-template #editMode><input type="text" [(ngModel)]="day.name" /></ng-template> -->
        {{ day.name }}
      </td>
      <td>{{ day.date | date : "dd/MM/yyyy" }}</td>
      <td>
        <button
          (click)="getDate(day.date)"
          [cModalToggle]="verticallyCenteredModal.id"
          cButton
          color="dark"
        >
          تغییر
        </button>
      </td>
      <td>
        <button (click)="holiday.deleteHoliday(day.date)" cButton color="dark">
          حذف
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Form Modal -->

<c-modal
  #verticallyCenteredModal
  alignment="center"
  id="verticallyCenteredModal"
>
  <c-modal-header>
    <h5 cModalTitle>بروزرسانی تعطیلات</h5>
    <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    
    <form [formGroup]="holidayUpdateForm" (ngSubmit)="putHoliday()">
      <label for="name" class="pb-2">نام :</label>
      <input type="text" id="name" formControlName="updateName" cFormControl />
      <p
        *ngIf="updateName.invalid && (updateName.dirty || updateName.touched)"
        class="text-danger"
      >
        <span *ngIf="updateName.hasError('required')">Name is required</span>
        <span *ngIf="updateName.hasError('minlength')"
          >Name must be at least 3 characters long</span
        >
      </p>

      <label for="date" class="pb-2">تاریخ :</label>
      <input type="date" id="date" formControlName="updateDate" cFormControl />
      <p
        *ngIf="updateDate.invalid && (updateDate.dirty || updateDate.touched)"
        class="text-danger"
      >
        <span *ngIf="updateDate.hasError('required')">Date is required</span>
      </p>
      <br />
      <c-modal-footer>
        <button
          [cModalToggle]="verticallyCenteredModal.id"
          cButton
          color="secondary"
        >
          بستن
        </button>
        <button
          type="submit"
          cButton
          color="dark"
          [disabled]="holidayUpdateForm.invalid"
        >
          اعمال
        </button>
      </c-modal-footer>
      <!-- <button type="submit" cButton color="dark" [disabled]="holidayForm.invalid">
        Add
      </button> -->
    </form>
  </c-modal-body>
</c-modal>
