<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <h1>Login Page</h1>
                <p class="text-medium-emphasis">Log In to your account</p>

                <c-row>
                  <c-col xs="6">
                    <button
                      cButton
                      class="px-4 btn btn-dark"
                      color="primary"
                      routerLink="/layout"
                    >
                      Login
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
